__pycache__/
*.pyc
*.pyo
*.pyd


build/
dist/
*.egg-info/
*.egg


venv/
.venv/
.env.example


.uv/
.uv_cache/
uv_cache/
uv/


pip-wheel-metadata/
.vscode/
.idea/
*.swp
*.swo


.git/
.gitignore
.gitattributes

.DS_Store
Thumbs.db


.streamlit/**
# BUT keep the config file
!.streamlit/
!.streamlit/config.toml


logs/
*.log

__debug__/
